@import url('plugin-minicolors.css');

/* General */

h2 {
	
}

h2 .settings-link {
	font-size: 14px;
	display: inline-block;
	margin-left: 10px;
}

/* Chat - General */

#chat-loading,
#chat-content {
	display: none;
	margin-top: 30px;
	border-top: 1px solid #ccc;
	padding-top: 25px;
}

#chat-iframe {
	width: 100%;
}

/* Tidio Dialog */

#dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	
	z-index: 50;
	
	display: none;
}

.frame-dialog-wrap {
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;
	display: none;
	
	z-index: 51;

}

.frame-dialog {	
	background: #DADFE2;
	display: block;
	position: relative;
	margin: 0px auto;
	padding: 25px 30px;
	border: 5px solid #fff;
	width: 800px;
	z-index: 51;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.frame-dialog h3 {
	margin: 10px 0px 35px;
	color: #394A5E;
	font-size: 32px;
	font-weight: 100;
}

.frame-dialog .btn-close {
	position: absolute;
	top: 30px;
	right: 30px;
	background: #4998F6;
	padding: 5px 11px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;	
	text-decoration: none;
}

.frame-dialog .dialog-handle {
	width: 100%;
	padding-right: 3px;
	height: 20px;
	
	position: absolute;
	top: -23px;
	left: 0px;
	
	background: #ccc;
	margin-right: -2px;
	
	cursor: move;
	
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-color: #ccc;	
}

/* Form Default */

.form-default {
	
}

.form-default .e {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.form-default .e:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
}

.form-default .e > .minicolors {
	margin-bottom: -15px;
	margin-left: 2px;	
}

.form-default label {
	min-width: 120px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
}

.form-default input,
.form-default select {
	margin-left: 15px;
	width: 350px;
	padding: 8px 10px;
	float: left;
}

.form-default .e-submit {
	text-align: left;
}

/* Minicolors */

.minicolors-input {
	padding: 10px 10px 10px 22px !important;
}

.minicolors-swatch {
	top: 2px !important;
	left: 14px !important;
}

.minicolors-position-left .minicolors-panel {
	top: 26px !important;
	left: 14px !important;
}

/* Alert */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}


.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}


/* Clearfix */

.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; overflow: hidden; } .clearfix:after { clear: both; }

/* Translate Form */

#dialog-translate-form {
	overflow-y: auto;
	height: 450px;
}

#dialog-translate-form label {
	float: left;
	
	width: 30%;
}

#dialog-translate-form input {
	float: left;
	width: 60%;
	margin-left: 5%;
		
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#dialog-translate-form .e-submit {
	position: absolute;
	bottom: 15px;
}

#dialog-translate .frame-dialog {
	padding-bottom: 50px;
}

#settings-form-translate-link {
	float: left;
	margin-top: 6px;
	margin-left: 20px;
}

/* top logo */

#powered-by{
    position: absolute;
    right: 10px;
    width: 25%;
	z-index: 10;
}
#powered-by a {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 5;
	
}

#powered-by .left{
    color: #878785;
    float: left;
    width: 38%;
    font-size: 14px;
    font-weight: 800;
}
#powered-by .left strong{
    color: #009FF3;
}
#tidio-top-logo {
    background-image: url('../img/brand-logo.png');
    display: inline-block;
    width: 50%;
    height: 27px;
    float: right;
    margin-top: 7px;
    padding-left: 5px;
    background-position: right;
    background-repeat: no-repeat;
    border-left: solid 1px #DCDCDC;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tidio-top-logo:before{
    content: '';
    display: block;
    border-left: solid 1px #FFF;
    height: 37px;
    position: relative;
    left: -5px;
    top: -5px;
}
@media (max-width: 1600px) {
    #tidio-top-logo{
        width: 57%;
    }
}
@media (max-width: 1400px){
    #powered-by .left{
        display: none;
    }
    #tidio-top-logo{
        border-left:none;
        width: 200px;
    }
    #tidio-top-logo:before{
        display: none;
    }
}
#powered-by form{
    background-color: #E3E3E3;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
    border-bottom: solid 1px #FFFFFF;
    position: relative;
    margin-top: 10px;
	display: block;
	opacity: 0;
	
	z-index: 10;
	
	display: none;
	
	
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}

#powered-by:hover form {
	display: block;
	opacity: 1;
}

#powered-by form:before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: solid 10px rgba(0, 0, 0, 0);
    border-bottom-color: #E3E3E3;
    position: absolute;
    top: -20px;
    right: 60px;
}
#powered-by input[type="text"]{
    width: 100%;
    padding: 14px 12px 10px;
    border-bottom: solid 1px #CCC;
    border-radius: 5px;
    padding-right: 70px;F
}
#powered-by input[type="submit"]{
    background-color: #009FF3;
    border: none;
    color: #FFF;
    font-weight: bold;
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 11px 20px;
    border-radius: 5px;
	cursor: pointer;
}







